<!-- cocktailDisplay.handlebars -->
<h1>{{cocktailName}}</h1>
<img src="{{cocktailImage}}" alt="{{cocktailName}}">

<h2>Ingredients:</h2>
<ul>
  {{#each ingredients as |ingredient|}}
    <li>{{ingredient}}</li>
  {{/each}}
</ul>

<h2>Instructions:</h2>
<p>{{instructions}}</p>